<header class="header-section">
  <div class="header-content">
    <div class="program-details">
      <h1>{{ externalProgramData.programName }}</h1>
      <p class="program-info">{{ externalProgramData.programCode }}</p>
      <p class="program-info">{{ externalProgramData.schedule }}</p>
    </div>
    <div class="theatre-details">
      <h2>{{ externalMovieData.theatreName }}</h2>
      <p class="theatre-info">Location: {{ externalMovieData.location }}</p>
      <p class="theatre-info">Contact Number: {{ externalMovieData.contactNumber }}</p>
    </div>
  </div>
</header>
