<div class="container">
  <table class="movie-table" mat-table [dataSource]="externalMovieInfo">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let movie"> {{ movie.name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef> Genre </th>
      <td mat-cell *matCellDef="let movie"> {{ movie.genre }} </td>
    </ng-container>
  
    <ng-container matColumnDef="runningTime">
      <th mat-header-cell *matHeaderCellDef> Running Time </th>
      <td mat-cell *matCellDef="let movie"> {{ movie.runningTime }} </td>
    </ng-container>
  
    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef> Release Date </th>
      <td mat-cell *matCellDef="let movie"> {{ movie.releaseDate }} </td>
    </ng-container>
  
    <ng-container matColumnDef="ratings">
      <th mat-header-cell *matHeaderCellDef> Ratings </th>
      <td mat-cell *matCellDef="let movie"> {{ movie.ratings }} </td>
    </ng-container>
  
    <ng-container matColumnDef="ageRestriction">
      <th mat-header-cell *matHeaderCellDef> Age Restriction </th>
      <td mat-cell *matCellDef="let movie"> {{ movie.ageRestriction }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
